.profile {
    width: 250px;
    background-color: #f5f4fa;
    box-shadow: 0px 2px 1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%);
}
.description {
    text-align: center;
}
.avatar{
    width: 100%;
}
.name {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.tag {
    font-weight: bold;
    font-size: 30px;
    color: #601772;
}
.location{
    font-size: 20px;
}
.stats {
    display: flex;
    justify-content: space-around;
    padding: 0;
    text-align: center;
    border: 1px solid #757575;
    background-color: rgb(184, 216, 238);

}
.label {
    display: block;
    font-weight: bold;
    color: #212121;
}
.quantity {
    color: #601772;
    font-size: 30px;
    font-weight: bold;
    
}

li {
    list-style: none;
}

